<h1>Hello</h1>

<div>
  <app-new-task-form [createTask] = "createTask"
                      [getTasksFromService] = "getTasksFromService"></app-new-task-form>
</div>
<br>
<div *ngIf="tasks">
  <h3>Task List</h3>
  <ol>
    <div *ngFor="let task of tasks">
      <app-task [title] = "task.title"
                [description] = "task.description"
                [completed] = "task.completed"></app-task>
      <ul>
        <li>
          <button (click)="getOneTaskFromService(task._id)">
            show
          </button>
        </li>
        <li>
          <button (click)="getOneTaskFromServiceforUpdate(task._id)">
            update
          </button>
        </li>
        <li>
          <button (click)="deleteTask(task._id)">
            delete
          </button>
        </li>
      </ul>
    </div>
  </ol>
  <app-one-task> *ngIf="oneTask" [oneTask] = "oneTask"
  </app-one-task>
  <div *ngIf="newTask">
    <div>
      <form (submit) = "updateTask()">
        
        <!-- use the json pipe to see how newTask changes in real time -->
            <p> {{ updateTask | json }} </p>
        <input type="text" name="title" [(ngModel)]="newTask.title" />
        <input type="text" name="description" [(ngModel)]="newTask.description" />
        <label for="radio">Yes</label>
        <input type="radio" name="completed" value="yes" [(ngModel)]="newTask.completed">
        <label for="radio">No</label>
        <input type="radio" name="completed" value="no" [(ngModel)]="newTask.completed">
        <input type="submit" value="Edit task" />
      </form>
    </div>
  </div>
  <div *ngIf="tasks.length === 0">
    <p>No task created</p>
  </div>
</div>
